<div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Url Nueva</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form [formGroup]="urlForm" (ngSubmit)="submitForm()" class="text-center" style="color: #757575;" action="#!">
            <br>

            <!-- URL -->
            <input type="text" formControlName="url" class="form-control mb-4" placeholder=" My Url">
            <!-- Subject -->
           

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" [disabled]="!urlForm.valid" type="submit">Enviar</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->